/TCP_Receiver
/TCP_Receiver.o
/TCP_Sender
/TCP_Sender.o
/TCP_receiver_Draft
/TCP_sender_Draft
/file1.pdf
.vscode
*.o
*.a
*.so
*.out
*.pdf
/message_terminal.txt
/TCP_Receiver-gpt.c
/TCP_Sender-gpt.c
/Text_File.txt
